platforms/android
platforms/ios
plugins/cordova-*


info.txt

node_modules/*
platforms/*
package-lock.json

plugins/ios.json

plugins/browser.json

plugins/fetch.json

plugins/fetch.json

plugins/fetch.json

plugins/fetch.json
